@using Auvo.GloboClima.Domain.DTO
@model LoginDto

<h2>Login</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<form id="loginForm">
    <div>
        <label>Email</label>
        <input type="email" id="email" />
    </div>
    <div>
        <label>Senha</label>
        <input type="password" id="password" />
    </div>
    <button type="submit">Entrar</button>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
                $("#loginForm").submit(function (e) {
            e.preventDefault();

            var loginData = {
                Email: $("#email").val(),
                Password: $("#password").val()
            };

            $.ajax({
                url: "/Auth/Login",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(loginData),
                success: function (response) {
                    localStorage.setItem("token", response.token);
                    window.location.href = "/Country/CountryIndex"; // redireciona após login
                },
                error: function (xhr) {
                    $("#resultado").html("Erro: " + xhr.responseText);
                }
            });
        });

    </script>
}
