@model CountryModel
@{
    ViewData["Title"] = "Country Page";    
}
<head>
    <title>@ViewData["Title"]</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<div class="country-container">
    <!-- Sidebar à esquerda -->
    <div class="sidebar">
        <div class="form-group">
            <label for="selectedCountry">Selecione o país:</label>
            <select id="selectedCountry" asp-items="@(new SelectList(Model.CountryNames))" class="form-control">
                <option value="">-- Selecione um país --</option>
            </select>
        </div>
        <br><br>
        <label id="favoriteContentLabel"><i class="fa-solid fa-star" style="color: #FFD43B;"></i> Favoritos:</label>
        <div id="favoriteContent"></div>
    </div>

    <!-- Conteúdo principal à direita -->
    <div id="countryContent"></div>
    <button class="addFavoriteButton" id="addFavorite" alt="Favorite" hidden></button>
</div>
<script>
    var isAuthenticated = @User?.Identity?.IsAuthenticated.ToString().ToLower()
    var addFavoriteButton = false
    var favAdd ='<i class="fa-regular fa-star"></i>'
    var favDelete = '<i class="fa-solid fa-star" style="color: #FFD43B;"></i>'

    $(document).ready(function () {
        if (isAuthenticated == true) {
            LoadFavorites();

            $('#favoriteContentLabel').css('visibility', 'visible');
            $('#favoriteContent').css('visibility', 'visible');
        }
        else
        {
           $('#favoriteContentLabel').css('visibility', 'hidden');
           $('#favoriteContent').css('visibility', 'hidden');
        }


        $('#addFavorite').on('click', function () {
             var countryName = $('#selectedCountry').val();

             if (countryName && addFavoriteButton === true) {
                 $.ajax({
                     url: '/Favorite/AddFavorite',
                     type: 'POST',
                     data: { countryName: countryName },
                     success: function () {
                         LoadFavorites();
                         addFavoriteButton = !addFavoriteButton;
                         $('#addFavorite').html(favDelete);
                         
                     },
                     error: function () {
                         alert('Erro ao cadastrar favorito.');
                     }
                 });
             }else if (countryName && addFavoriteButton === false) {
                 $.ajax({
                     url: '/Favorite/DeleteFavorite',
                     type: 'DELETE',
                     data: { countryName: countryName },
                     success: function () {
                         LoadFavorites();
                         addFavoriteButton = !addFavoriteButton;
                         $('#addFavorite').html(favAdd);
                     },
                     error: function () {
                         alert('Erro ao deletar favorito.');
                     }
                 });
             }
             else {
                 alert('Por favor, selecione o país.');
             }
        });

        $('#favoriteContent').on('click', 'li', function () {
            var texto = $(this).text();
                $('#selectedCountry').val(texto).trigger('change');
        });


        $('#selectedCountry').on('change', function () {
            var selectedValue = $(this).val();

            if (selectedValue) {
                $.ajax({
                    url: '/Country/GetCountry',
                    type: 'POST',
                    data: { countryName: selectedValue },
                    success: function (response) {
                        if (isAuthenticated == true) {
                             $('#addFavorite').removeAttr('hidden');
                             
                             if(response.isFavorite === true){
                                 addFavoriteButton = !response.isFavorite;
                                $('#addFavorite').html(favDelete);
                             }
                             else{
                                 addFavoriteButton = !response.isFavorite;
                                 $('#addFavorite').html(favAdd);
                             }                             
                        }
                        $("#countryContent").html(response.html);
                    },
                    error: function () {
                        alert('Erro ao buscar dados do país.');
                    }
                });
            }
        });             
    });


    function LoadFavorites() {
        $.ajax({
                url: "/Favorite/GetFavorites",
                type: "GET",
                success: function (html) {
                       $("#favoriteContent").html(html);

                },
                error: function (xhr) {
                    if (xhr.status === 401) {
                        window.location.href = "/Auth/Login";
                    } 
                    else {
                        alert("Erro ao carregar a página Favorites.");
                    }
                }
        });
    }

</script>
